<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>11-12_AdvJava</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>EnterDetalis.html</welcome-file>
	</welcome-file-list>

	<display-name>FistMan Tech</display-name>
	<servlet>
		<servlet-name>hai</servlet-name>
		<jsp-file>/hai.jsp</jsp-file>

		<init-param>
			<param-name>var</param-name>
			<param-value>100</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>hai</servlet-name>
		<url-pattern>/home.com</url-pattern>
	</servlet-mapping>
</web-app>